<!DOCTYPE html>
<html>
    <body>
        <center>
            <div name="intro">
                <h1 style="font-size: 58px; margin-top: 5%;">Detecting number from picture using knn</h1>
                <p style="font-size: 28px;">this webapp is used to detect a number drawn on a picture.
                    you can upload the picture here to the system (allowed files are png/jpg/jpeg):
                </p>
            </div>

            <div name="form">
                <form action = "http://127.0.0.1:5000/upload" method = "POST" enctype = "multipart/form-data">
                    <input type="file" id="myFile" name="file">
                    <input type="submit">
                </form>
            </div>
            
            <p name="answer" style="font-size: 28px; margin-top: 5%;">The number is: {{ answer }}</p>
        </center>
    </body>
</html>